.news-item {
    display: flex;
    width: 100%;
    gap: 12px;

    &__wrapper {
        width: 64px;
        height: 64px;
        background-color: #f2f4f5;
        background-position: center;
        background-size: cover;
        flex-shrink: 0;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__title {
        font-size: 14px;
    }

    &__extra {
        font-size: 12px;
        color: #6c7072;
    }
}   